# Discussion 2

### Due Wednesday April 10, 11:59:59PM

---

## Lecture Review

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import os

In [ ]:
# If you want to follow along to datascience portion
# from datascience import *

## Data Structures in Pandas

In this section we will compare the data structures in the `datascience` module with `Pandas`. This class will not use the `datascience` module (it's too basic to handle real-world data), however it will help us better understand pandas.

To follow along you can install the `datascience` module by:
* opening a terminal and typing `pip install datascience`. 
* If you are using `datahub.ucsd.edu`, then you should install the package in your own home directory using the command `pip install --user datascience` (you do not have permission to write files where the python installation resides). You can open a terminal in `datahub` by selecting 'terminal' from the 'new' menu.

### `Tables` in `datascience` module

In DSC 10 we spent a lot of time working with tables. Recall, a `Table` is a sequence of labeled columns of data. A `Table` can be constructed from scratch by extending an empty table with columns.

In [ ]:
t = Table().with_columns([
    'letter', ['a', 'b', 'c', 'z'], # column 1
    'count',  [  9,   3,   3,   1], # column 2
    'points', [  1,   2,   2,  10], # column 3
    ])
t

From here we were able to access values, manipulate data, and visualize data -- all of which was fairly straightforward. To grab the column `letter` we had a few options at our disposal:

In [ ]:
# using column(), which takes a column label or index, we get back an array
t.column('letter')

# bracket notation as a shorthand for this method
t['letter']

To access values by row, `row()` returns a row by index. Alternatively, `rows()` returns an list-like `Rows` object that contains tuple-like `Row` objects.

In [ ]:
# grabs the second row from our Table above
second = t.rows[1]

# from the second row, we want the first item in that row
first_item = second[0]
#first_item

In DSC 10, we manipulated tabular data using the following `Table` methods:

* Adding a column: `with_column()`
* Selecting columns: `select()`
* Renaming columns: `relabeled()`
* Selecting out rows by index: `take()` (and conditionally with `where()`)
* Operate on table data: `sort()`, `group()`, and `pivot()`

### `DataFrames` in `Pandas` module

We can make the same dataframe in `pandas` using the class `pandas.DataFrame`. What will my `DataFrame` look like if I run `pandas.DataFrame` using the same code above?

In [ ]:
# replace Table().with_columns() with pd.DataFrame()

df1 = pd.DataFrame([
    'letter', ['a', 'b', 'c', 'z'],
    'count',  [  9,   3,   3,   1],
    'points', [  1,   2,   2,  10],
    ])
#df1

Given what is wrong with the dataframe above, what can we say about how `pandas` is interpreting each entry of the list passed into `pd.DataFrame`?

This obviously does not look the same as the table we constructed using the `datascience` package. We can do a bit of manipulation to our code in order to get back the desired dataframe.

In [ ]:
dictionary = {'letter' : ['a', 'b', 'c', 'z'],  # column name : values
              'count'  : [ 9,   3,   3,    1],  # column name : values
              'points' : [ 1,   2,   2,   10]}  # column name : values
 
df2 = pd.DataFrame(data=dictionary)
#df2

Sometimes be easier to construct the same dataframe row-by-row. For example, suppose we know that individual number one has the following attributes:

* Favorite letter: 'a'
* Number of games played: 9
* Points accumulated: 1

and we know the same attributes for individual two, three, and four. To go about constructing a dataframe in this way, we can use a list of numpy ndarrays where each entry corresponds to a row in the dataframe:

In [ ]:
data = [
    ['a', 9, 1], # row 1
    ['b', 3, 2], # row 2
    ['c', 3, 2], # row 3
    ['z', 1, 10] # row 4
]

In [ ]:
df3 = pd.DataFrame(
    data, # rows of dataframe
    columns = ['letter', 'count', 'points'])                           # column names 
#df3

### Summary: `DataFrame` Constructor

* `pd.DataFrame` creates a dataframe from:
    * A dictionary of columns (`df2` above)
    * A list of rows (`df3` above)
* Optional (default) arguments include:
    * `index`: can be array-like if your dataframe requires something other than a range from 0 to n
    * `columns`: labels may be provided for column names (similar to `'letter'`, `'count'`, and `'points'` above) 
    * `dtype`: `None` is the default, `pandas` will infer based on the content of your columns.
* Accepts any 'array-like' container (`list`, `np.ndarray`, `pd.Series`)
    * Note the difference here between `np.ndarray` and `np.array`!
    * The former is an actual data type, while the latter is a function to make arrays from other data structures.
* Create small DataFrames to debug and understand your code!
* DataFrame column labels:
    * Accessed using the `columns` attribute
    * Columns default to column number (0-indexed)

### Select an Index or Column From a Pandas DataFrame

In [ ]:
# recall df2
df2

You want to access the value that is at index `0`, in column `count`. We saw in lecture a number of different ways to get our value `9` back.

In [ ]:
# Using `iloc[]`
print(df2.iloc[0][1])

# Using `loc[]`
print(df2.loc[0]['count'])

The most important ones to remember are, without a doubt, `.loc[]` and `.iloc[]`.

#### `iloc`

* The `iloc` indexer for `Pandas Dataframe` is used for integer-location based indexing / selection by position.

* The `iloc` indexer syntax is `data.iloc[<row selection>`, `<column selection>]`. `iloc` in pandas is used to select rows and columns by number, in the order that they appear in the data frame. 

* You can imagine that each row has a row number from 0 to the total rows (`data.shape[0]`) and `iloc[]` allows selections based on these numbers. The same applies for columns (ranging from 0 to `data.shape[1]`)
    * Note that `.iloc` returns a `Pandas Series` when **one** row is selected, and a `Pandas DataFrame` when **multiple rows** are selected, or if any column in full is selected. 
    * To counter this, pass a single-valued list if you require `DataFrame` output.

In [ ]:
print(type(df2.iloc[1]))        # result of type series becuase only one row selected

print(type(df2.iloc[[1]]))      # result of type dataframe becuase list selection used

print(type(df2.iloc[0:2]))      # result of type dataframe since only two ros are selected

print(type(df2.iloc[0:2, 1]))   # result of type series becuase only one column is selected

print(type(df2.iloc[0:2, [1]])) # result of type dataframe with only one column becuase list selection used

print(type(df2.iloc[0:2, 0:2])) # result of type dataframe becuase multiple rows and columns selected

####  `loc`

The `Pandas` `loc` indexer can be used with DataFrames for two different use cases:

* Selecting rows by label/index
* Selecting rows with a boolean/conditional lookup

The `loc` indexer is used with the same syntax as `iloc`: `data.loc[<row selection>, <column selection>]`.

In [ ]:
# label/index lookup
df2.loc[0]           # select first row

df2.loc[0][1]        # select element in count column from first row

df2.loc[0]['count']  # same as previous, use lable instead of index

#df2.loc['letter']   # label 'letter' is not in the index, error

### Boolean conditional selection with `loc`

Recall that arrays can be compared using comparison operators (`<`,`>`,`==`,...), producing boolean arrays. These boolean arrays can be used to select rows according to those comparison conditions.

In [ ]:
# boolean conditional lookup. What is the output of each of these (in plain english)?
df2.loc[df2['letter'] == 'a']

df2.loc[df2['count'] == 3, ['letter']]

df2.loc[[True, False, False], [True, False, True]]

We can combine boolean expressions using the NOT,AND,OR,XOR operators, to create compound expressions for selecting rows of dataframes. In the table below are the operators that can be used to create boolean arrays:

![](bool_arr.png)

For example, if you want to select all rows where `count` is 3 or `score` is 7, but not BOTH:

In [ ]:
count3 = df2['count'] == 3
score7 = df2['score'] == 7
bool_arr = count3 ^ score7
df2.loc[bool_arr]

## Modifying a Pandas `DataFrame`

### Adding an Index, Row, or Column to a Pandas DataFrame

#### Adding an Index to a Dataframe

* When you create a DataFrame, you have the option to add input to the `index` argument to make sure that you have the index that you desire. 
* When you don’t specify this, your `DataFrame` will have, by default, a numerically valued index that starts with 0 and continues until the last row of your `DataFrame`.
* However, even when your index is specified for you automatically, you still have the power to re-use one of your columns and make it your index. You can easily do this by calling `set_index()` on your DataFrame.

In [ ]:
# let's make the 'letter' column our index
df2.set_index('letter')

#### Resetting the Index of Your DataFrame

* When your index doesn’t look entirely the way you want it to, you can opt to reset it. 
* You can easily do this with `.reset_index()`. 
* However, you should still watch out, as you can pass several arguments that can make or break the success of your reset.

In [ ]:
# Use `reset_index()` to reset the values. 
df2_reset = df2.reset_index(drop=False)

# Print `df_reset`
df2_reset

#### Adding a Column to a DataFrame

* If you want to append columns to your DataFrame, you could also follow the same approach as when you would add an index to your DataFrame: you use `.loc[]` or `.iloc[]`. 
* In this case, you add a Series to an existing DataFrame with the help of `.loc[]`:

In [ ]:
df2.loc[:, 'score'] = pd.Series([5, 6, 7, 7], index=df2.index)
df2

In [ ]:
df2['score1'] = pd.Series([5, 6, 7, 7], index=df2.index)
df2

In [ ]:
# What about this?
df2 = df2.set_index('letter')
df2['score2'] = pd.Series([5, 6, 7, 7])
df2

#### Deleting a Column from Your DataFrame

To get rid of (a selection of) columns from your DataFrame, you can use the drop() method:

In [ ]:
df2.drop(['score2'], axis=1)

In [ ]:
# note: pandas methods return copies!
df2 = df2.drop(['score2'], axis=1)
df2

This is not so straightforward; There are some extra arguments that are passed to the drop() method!

* The axis argument is either 0 when it indicates rows and 1 when it is used to drop columns.
* While Pandas has an `inplace` keyword to delete the column without having to reassign the DataFrame, **you should never use it**. Pandas code should always be written to return copies; this keyword will be removed in the future.

#### Removing a Row from Your DataFrame

You can remove rows most easily using the `loc` selector and creating appropriate conditions. There are also methods that drop rows based on common needs (`drop_duplicates`, `dropna`).

Below are methods to drop the row corresponding to index `c`:

In [ ]:
df2

In [ ]:
# rarely used, by works
df2.drop('c', axis=0)

In [ ]:
# better: conditioning using boolean arrays
# '~' means 'not'

df2.loc[~(df2.index == 'c')]

## Tutorial: DataFrame Manipulation in Pandas

**Question 1**: Construct a DataFrame from a specified dictionary data which has the index `labels`. Once have done this in the notebook, put your work in the function `question01` in the `py` file.

In [ ]:
# sample Python dictionary data and list labels:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
# do your work here

**Question 2**: Find the positions of numbers that are multiples of 3 from `ser`. In the notebook, put these positions in a list entitled `multiples`. Once finished, put your work in `question02` of the `py` file.

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 7))

multiples = ...

### Questions on cars

The following two questions relate to a dataset on Car models and their attributes. We will read the data using `pd.read_csv` and read in a *url*.

In [ ]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'

cars = pd.read_csv(url)
cars.head()

**Question 3**: Count the number of missing values in each column of `df`. Which column has the maximum number of missing values? Assign this value to `highest_missing` in the notebook, then put your work in `question03` of the `py` file.

*Hint: use the method `df.isnull()`*

In [ ]:

highest_missing = ...

**Question 4**: Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value? Assess your answer in the notebook and put your work in `question04` in the `py` file.